<mat-card class="login__container">
  <h2>Please Login</h2>
  <form
    class="login__form"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field [floatLabel]="true">
      <input
        matInput
        type="email"
        placeholder="Email"
        required
        formControlName="email"
        autocomplete="username"
        autofocus
      />
      <mat-error *ngIf="!loginForm.controls['email'].valid">
        You must provide a valid email
      </mat-error>
    </mat-form-field>
    <mat-form-field [floatLabel]="true">
      <input
        matInput
        type="password"
        placeholder="Password"
        formControlName="password"
        autocomplete="current-password"
        required
      />
      <mat-error *ngIf="!loginForm.controls['password'].valid">
        Password is mandatory
      </mat-error>
    </mat-form-field>
    <button type="submit" mat-button>Login</button>
  </form>
</mat-card>
