<mat-card
  class="product-card"
  *ngFor="let product of products | async"
>
  <mat-card-title>{{product.name | titlecase}}</mat-card-title>
  <mat-card-content>
    <div class="product-card__line">
      <img
        class="product-card__image"
        alt=""
        width="200"
        height="200"
        src="assets/img.jpg"
      />
      <p class="product-card__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris risus ante, ornare id libero a, accumsan euismod sapien. Phasellus interdum egestas
        ante,
        sed volutpat magna consectetur vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus turpis massa. Donec id venenatis dolor. Ut
        scelerisque nulla aliquet, rhoncus felis quis, egestas orci. Vivamus egestas venenatis ligula in cursus. Sed in sem eget felis bibendum pharetra.
        Vivamus
        ante urna, aliquam sed mauris nec, dictum semper urna.
      </p>
    </div>
    <div class="product-card__line">
      <button
        mat-icon-button
        title="Order"
        class="product-card__action"
      >
        <mat-icon>shop</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
